<!DOCTYPE html>

<html>
  <head>
    <title>Golden: Comics</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'/>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="reset.css"/>
    <link rel="stylesheet" href="styles.css"/>
    <link rel="stylesheet" href="mobi.css"/>
    <script src="responsive.js"></script>
  </head>
  <body>
    <div class="content">
      <div class="topnav" id="myTopnav">
        <a href="index.html" class="main norm">Golden: Chronicles of the Hastening</a>
        <a href="index.html" class="main mobi">Golden</a>
        <br>
        <a href="index.html" class="active">Home</a>
        <a href="comic.html">Comics</a>
        <a href="characters.html">Characters</a>
        <a href="suggestions.html">Suggestions</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
      </div>


      <div class="page full">
        <div class="welcome">
          <img src="/image/rainbow_road.jpg"/>
        </div>
        <div id="comic_viewer">
          <div v-if="loading"></div>
          <div v-else>
            <h1 id="comic_title">{{title}}</h1>
            <img v-bind:src="image" v-bind:alt="alt" id="comic"/>
            <br>
            <div id="comic_nav">
              <button class="nav_btn" v-if="fewerComics" v-on:click="firstComic">first</button>
              <button class="nav_btn disabled" v-else>first</button>
              <button class="nav_btn" v-if="fewerComics" v-on:click="previousComic">prev</button>
              <button class="nav_btn disabled" v-else>prev</button>
              <input id="jump_field" v-model.number="jump_value" v-on:keyup.enter.prevent="gotoComic" v-bind:placeholder="jump_value"/>
              <button class="nav_btn" v-if="moreComics" v-on:click="nextComic">next</button>
              <button class="nav_btn disabled" v-else>next</button>
              <button class="nav_btn" v-if="moreComics"  v-on:click="newestComic">last</button>
              <button class="nav_btn disabled" v-else>last</button>
            </div>
          </div>
        </div>
      </div>

      <div class="spacer"></div>
      <footer class="norm">
        <ul>
          <li><a href="https://www.lds.org/?lang=eng">LDS Church Website</a></li>
          <li><a href="https://github.com/hiltonjp/golden">GitHub Repository</a></li>
          <li><a href="https://www.facebook.com/chroniclesofthehastening/">Golden: The Facebook Page</a></li>
        </ul>
      </footer>
      <footer class="mobi">
        <ul>
          <li><a href="https://www.lds.org/?lang=eng">LDS.org</a></li>
          <li><a href="https://github.com/hiltonjp/golden">Repo</a></li>
          <li><a href="https://www.facebook.com/chroniclesofthehastening/">Facebook</a></li>
        </ul>
      </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-star-rating/dist/star-rating.min.js"></script>
    <script src="comics.js"></script>
  </body>
</html>
