html, body {
  height: 100%
  margin: 0;
  padding: 0;
  background-color: #fafafa;
}

.container {
  min-height:100%;
  position:relative;
}

/*----- NAVIGATION -----------------------------------------------------------*/
nav {
  text-align: center;
  padding-bottom: 32px;
}

.small_title {
  display: none;
}

.norm_title {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

nav h1 a {
  text-decoration: none;
  font-family: 'Indie Flower', cursive;
  font-weight: normal;
  font-size: 32pt;
  color: black;
  display: block;
}

nav ul {
  list-style-type: none;
  display: inline;

  -webkit-padding-start: 0; /* overriding this fixes an off-centering issue on chrome */
}

nav li {
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: -24px;
  margin-right: -4px; /*inline-block padding adjustment*/
}

nav li a {
  font-family: 'Quicksand', sans-serif;
  color: #ff0000;
  font-size: 14pt;
  font-weight: bold;
  padding: 2px 8px;
  text-decoration: none;
}

.active {
  border-radius: 4px;
  background-color: #ef0000;
  color: white;
}

/*----- HOME PAGE ------------------------------------------------------------*/
.welcome_photo {
  margin: auto;
  width: 62%;
  display: block;
}

.welcome_photo img {
  box-shadow: 0px 5px 10px #333333;
}

img {
  vertical-align: middle;
  padding: 0;
  display: block;
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
}

/*----- CHARACTER BIOS -------------------------------------------------------*/
.biographies {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 24px;
  padding: 24px;
}

.bio_frame {
  margin: auto;
  padding: 1%;
  border-radius: 8px;
  border-style: solid;
  border-width: thick;
  border-color: #ff0000;
  background-color: #ff8888;
  box-shadow: 0px 5px 8px #333333;
  max-width: 800px;
}

.border {
  display: grid;
  grid-template-columns: auto auto;
}

.bio h1 {
  font-family: 'Indie Flower', cursive;
  font-weight: normal;
  font-size: 24pt;
  color: black;
  display: block;
}

.bio_info {
  margin-top: -18px;
  padding-right: 24px;
  font-family: 'Quicksand', sans-serif;
}

.bio_pic {
  float: left;
  width: 170px;
  height: auto;
  padding: 24px 24px;
}

.bio_pic img {
  border-radius: 8px;
}

/*----- COMIC PAGE -----------------------------------------------------------*/
.title h1 {
  font-family: 'Indie Flower', cursive;
  font-weight: normal;
  text-align: center;
}

.comic {
  margin: auto;
  width: 62%;
}

.comic_wide {
  margin: auto;
  width: 90%;
}

.comic img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 5px 10px #333333;
}

.comic_wide img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 5px 10px #333333;
}

/*----- ARCHIVE LIST ---------------------------------------------------------*/

.comics_list {
  display: grid;
  grid-template-columns: auto auto;
  width: 70%;
  margin: auto;
}

.column {
  margin: auto;
}

.column ul {
  list-style: none;
}

.column a {
  text-decoration: none;
  font-family: 'Indie Flower', cursive;
  font-size: 24pt;
  font-weight: normal;
  color: black;
}

/*----- COMIC NAVIGATION -----------------------------------------------------*/
.pagenav {
  text-align: center;
  padding: 20px;
}

.pagenav ul {
  list-style: none;
  -webkit-padding-start: 0; /* overriding this fixes an off-centering issue on chrome */
}

.pagenav li {
  display: inline;
  margin-right: -4px; /*inline-block padding adjustment*/
}

.pagenav a {
  display: inline-block;
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
  color: #ff0000;
  font-size: 14pt;
  padding-left: 10px;
  padding-right: 10px;
}

/*----- CONTACT FORM ---------------------------------------------------------*/
form {
	margin: 0 auto;
	width: 80%;
	padding: 1em;
	border: 2px solid #ff0000;
  background-color:  #ff8888;
  box-shadow: 0px 5px 8px #333333;
	border-radius: 8px;
}

form div + div {
	margin-top: 1em;
}

label {
	vertical-align: top;
	display: inline-block;
	width: 90px;
	text-align: right;
	font-family: 'Quicksand', sans-serif;
  font-weight: bold;
	color: black;
}

input, textarea {
	font-family: 'Quicksand', sans-serif;
  width: 80%;
	padding: 4px 4px;
}

#btn_div {
	width: 30%;
  margin: auto;
}

#btn {
}

textarea {
	height: 10em;
}

/*----- FOOTER ---------------------------------------------------------------*/
.spacer {
  height: 80px;
}

.norm_footer {
  display: block;
}

.small_footer {
  display: none;
}

footer {
  position:static;
  bottom:0;
  width:100%;
  height:45px;   /* Height of the footer */
  background-color: #fafafa;
}

footer ul {
  text-align: center;
  list-style: none;
}

footer li {
  display: inline;
}

footer a {
  display: inline-block;
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  color: black;
}

ul {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0;
}

/*----- RESPONSIVE DESIGN ----------------------------------------------------*/
@media screen and (min-height: 768px) {
  footer {
    position: fixed;
  }
}

@media screen and (max-width: 960px) {
  .small_title {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    text-decoration: none;
    font-family: 'Indie Flower', cursive;
    font-weight: normal;
    font-size: 32pt;
    color: black;
    display: block;
  }

  .norm_title {
    display: none;
  }

  nav li {
    padding-left: 1%;
    padding-right: 1%;
  }

  nav li a {
    font-size: 12pt;
    padding: 2px 8px;
  }


  nav h1 a {
    font-size: 48pt;
  }

  /*---- FORM -----*/
  label {
    display: block;
    text-align: center;
    margin: auto;
  }

  input, textarea {
    width: 100%;
  	padding: 4px 4px;
  }

  /*----- HOME -----*/
  .welcome_photo {
    width: 100%;
  }

  /*----- BIOGRAPHIES -----*/
  .biographies {
    grid-template-columns: auto;
    grid-row-gap: 10px;
  }

  .border {
    display: block;
  }

  .bio_pic {
    float: none;
    width: 170px;
    margin: auto;
    padding: 24px 24px;
  }

  .bio h1 {
    text-align: center;
  }

  .bio_info {
    padding-left: 24px;
  }

  /*----- COMICS -----*/
  .title {
    font-size: 16pt;
  }

  .comic {
    width: 100%;
  }

  .comic_wide {
    width: 100%;
  }

  .pagenav li {
    padding-left: 1%;
    padding-right: 1%;
  }

  .pagenav a {
    font-weight: bold;
    font-size: 14pt;
    color: white;
    border-radius: 4px;
    background-color: #ff0000;
    box-shadow: 0px 2px 3px #995555;
  }
  /*----- ARCHIVE -----*/
  .comics_list {
    grid-template-columns: auto;
    grid-column-gap: 0;
  }

  .column {
    margin: 0;
  }

  .column a {
    font-size: 20pt;
  }

  /*----- FOOTER -----*/
  .norm_footer {
    display: none;
  }

  .small_footer {
    display: block;
  }

  footer {
    width: 100%;
  }

  footer ul {
    float: none;
    text-align: center;
    font-size: 12pt;
  }
}

@media screen and (max-width: 640px) {
  .comic {
    width: 100%;
  }

  .comic_wide {
    width: 100%;
  }

  .comics_list {
    display: block;
    margin: auto;
    width: 80%;
  }


}
